%h3 Before you can submit a solution you need to sign up

%p This is primarily so we can contact you regarding your submission

%p It also gives you the option of logging in at a later date to edit your submission.

%p Note: after signing up you will need to confirm your email address by clicking on the link we send you.

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .form-inputs
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.input :password_confirmation, required: true
  .form-actions
    = f.button :submit, "Sign up"

= render "devise/shared/links"
