#giz_solutions.hero.home_sec
  =image_tag("banner.jpg")
  .hero_overlay
    .hero_cont
      .hero_inner
        %h2 Open call for solutions
        %h1 How can we strengthen business exchange between refugees and host communities?
        .buttons_cont
          - if ApplicationState.instance.collection?
            =link_to t('buttons.submit_solution'), :new_solution, class: 'button'
          - elsif ApplicationState.instance.judging?
            %p.bold=t('solution.judging.title')
          - elsif ApplicationState.instance.announce_winners?
          =link_to t('buttons.browse_solution'), :solutions, class: 'button secondary'
.sticky_cont
  %nav.sticky_inner
    .container
      .full_width
        = link_to '#top_of_site', class: 'up_link' do
          =fa_icon 'chevron-up'
        = link_to 'Back to top', '#top_of_site', class: 'active', id: 'home_link'
        = link_to 'Challenge and solution', '#the_challenge'
        / = link_to 'Your solution', '#home_intro'
        = link_to 'Context', '#home_why'
        / = link_to 'Timeline', '#when'
        / = link_to 'About Rwanda', '#meet_rwanda'
        / = link_to 'The local people', '#meet_community'
        / = link_to 'Solution examples', '#possible_examples'
        = link_to 'Your participation', '#who'
        / = link_to 'Selection criteria', '#criteria'
        / = link_to "What's Next", '#next'
        = link_to 'FAQ', '#faq'

#the_challenge.home_section_cont
  .home_sec.container
    .half
      .sub_title What's the challenge?
      %p Refugees often live in displacement for decades. Therefore, it is critical to enable them to become economically independent and build a life on their own in a way that benefits both the refugees and their hosting communities – who also often face substantial problems.
      =render partial: "cta_buttons"

      .up_to_date.full_width.centre
        %p Stay up to date:
        =link_to 'https://www.facebook.com/solutionchallenge', target: '_blank' do
          =fa_icon 'facebook'
          Facebook
        =link_to 'https://www.twitter.com/call4solutions', target: '_blank' do
          =fa_icon 'twitter'
          Twitter
        =link_to 'https://www.linkedin.com/solutionchallenge', target: '_blank' do
          =fa_icon 'linkedin'
          LinkedIn
    .half
      .sub_title What‘s the opportunity?
      %p There is a huge untapped potential to create shared business opportunities for refugees and host communities.
      %p Think of shared workshops and joint creation of new services or products – doing business with each other provides an opportunity to meet, reduce prejudices and improve one’s livelihood.
      %p In Rwanda, our pilot country for the Call for Solutions, refugees enjoy freedom of movement and have the right to work and establish companies. The Government of Rwanda and UNHCR are in the process of implementing a joint strategy for furthering economic development in host communities through refugee self-reliance.
      %p.bold So how can we create more shared business opportunities between both communities?

  -if ApplicationState.instance.announce_winners?
    .container
      %h2=t('solution.winners.title')
      #all_solutions.inner_container
        = render partial: 'solutions/solution', collection: winning_solutions

  #home_intro.home_sec.container
    .full_width
      %h2 What’s your solution? Make it matter even more
      %p Do you work with refugees and host community members to connect them through shared economic opportunities, but lack the resources to scale your approach globally?

      %p Do you have a solution in the private or non-profit sector that connects refugees and host community members through shared business opportunities and would like to share it?

      %p GIZ provides you with the opportunity to work with our network of development experts, designers, and entrepreneurs to scale up your solution and help your solution to have greater impact. Submit your solution until October 31st, 2018 and get the chance to participate in an Innovation Lab in Rwanda and prototype your solution together with the local refugee and host community.

      .accordion
        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              Why you should participate…
          .accord-cont
            .half
              %p.bold.low_margin Increase your impact to a global scale 
              %p You have the chance to see your solution promoted through media, partners and GIZ channels and thus create more impact.

              %p.bold.low_margin Access the expertise of the GIZ network 
              %p Learn how to create innovative projects in intercultural teams and benefit from the expertise and support of GIZ and its international network of experts from leading global and local organisations.

            .half
              %p.bold.low_margin Enhance your innovation skills in our Innovation Lab in Rwanda
              %p The objective of the Innovation Lab in Rwanda is to push your solution and adapt it locally. In a one week workshop, you will develop several ideas to enhance your submitted solution together with local design experts and members of the refugee and host communities.

              %p.bold.low_margin Have all costs of your participation covered
              %p GIZ will cover all your travel costs and provide room and board. If your solution is selected you will also receive an additional prize money of €1,500.



#home_why.home_section_cont
  .home_sec.container
    .full_width
      %h2 Why an open Call for Solutions?
    .half
      %p.bold.low_margin Instead of starting from scratch, we want to build on existing knowledge and experience
      %p We believe that there are people who have solved this challenge before us. Maybe in a different context, maybe with a different focus. None the less, we want to build on these experiences to leapfrog ahead to solutions that we know have the potential to make a change.

      %p.bold.low_margin Believing in the skills of others 
      %p As GIZ, we believe that everyone can bring something to the table, and that an intensive exchange of ideas is crucial for innovation. Hence, we appeal to all types of actors - large or small, NGOs, businesses or private individuals - to participate in our open Call for Solutions.
    .half
      %p.bold.low_margin Adapting the solutions to align with needs of local communities
      %p A jury will select the three solutions with the biggest potential, to be adapted to align with the needs of local communities. This adaption process will take place during the on-site Innovation Lab and prototyping phase. Following this one-week lab, the local teams receive seed investment from GIZ and arrange a market test of the adapted solution.
      %p As a pilot country, we chose Rwanda. However, the objective is to scale successful solutions in other countries facing similar challenges.

      %p.bold.low_margin Going Global
      %p Once the solution has been tested on the market, GIZ will support a global upscaling.


  #when.home_sec.container
    .full_width
      %h2 When things are happening
      - if ApplicationState.instance.state == 'collection'
        %p You can now submit and edit you solutions. The deadline is for publishing solutions is 13/07/18.
      -elsif ApplicationState.instance.state == 'judging'
        %p Thanks to everyone who submitted their solution - we are overwhelmed by all the great entries! The jury is choosing the winners right now. The winners will be announced on 20/07/18
      -elsif ApplicationState.instance.state == 'announce_winners'
        %p
          The winners have been chosen, you can see them alongside all the other solutions
          =link_to "here.", :solutions
          The lab in Rwanda will start on 24/09/18.
      -elsif DateTime.new(2018,9,24).past? && DateTime.new(2019,1,18).future?
        %p The winners are prototyping their ideas together with refugee and host communities in Rwanda from 24/9/18 to 01/10/18.
      -elsif DateTime.new(2019,1,18).past? && DateTime.new(2019,3,1).future?
        %p On the 15/10/18 the teams will pitch for seed investment
      -elsif DateTime.new(2019,3,1).past? && DateTime.new(2019,9,1).future?
        %p Right now, the solutions are being tested in Rwanda to evaluate opportunities for global scaling.
      -else
        %p Everything is complete and the solutions are being supported to upscale globally.


      %br
      .timeline
        .top_section
          .time_section{:class => ("active" if ApplicationState.instance.state == 'collection')}
            %span Call for solutions: applications
          .time_section{:class => ("active" if ApplicationState.instance.state == 'judging')}
            %span Selection of winners
          .time_section.small_sec{:class => ("active" if ApplicationState.instance.state == 'announce_winners' && DateTime.new(2019,1,14).future?)}
          .time_section.small_sec{:class => ("active" if DateTime.new(2019,1,14).past? && DateTime.new(2019,1,18).future?)}
            %span Innovation lab in Rwanda
          .time_section.small_sec.investment{:class => ("active" if DateTime.new(2019,1,18).past? && DateTime.new(2019,3,1).future?)}
            %span Business Model Dev
          .time_section{:class => ("active" if DateTime.new(2019,3,1).past? && DateTime.new(2019,9,1).future?)}
            %span Market test in Rwanda
          .time_section.actual_final{:class => ("active" if DateTime.new(2019,9,1).past?)}
            %span GIZ supports upscaling globally

        .timeline_line
          .time_section{:class => ("active" if ApplicationState.instance.state == 'collection')}
          .time_section{:class => ("active" if ApplicationState.instance.state == 'judging')}
          .time_section.small_sec{:class => ("active" if ApplicationState.instance.state == 'announce_winners' && DateTime.new(2019,1,14).future?)}
          .time_section.small_sec{:class => ("active" if DateTime.new(2019,1,14).past? && DateTime.new(2019,1,18).future?)}
          .time_section.small_sec{:class => ("active" if DateTime.new(2019,1,18).past? && DateTime.new(2019,3,1).future?)}
          .time_section{:class => ("active" if DateTime.new(2019,3,1).past? && DateTime.new(2019,9,1).future?)}
          .time_section.actual_final{:class => ("active" if DateTime.new(2019,9,1).past?)}
        .bottom_section
          .time_section
            .date
              %span Aug
              %span 15
          .time_section
            .date
              %span Oct
              %span 31
          .time_section.small_sec
            .date
              %span Nov
              %span 15
          .time_section.small_sec
            .date
              %span Jan
              %span 14
          .time_section.small_sec
            .date
              %span Jan
              %span 18
          .time_section
            .date
              %span Mar
              %span 2019
          .time_section.actual_final
            .date
              %span Sept
              %span 2019
        .highlighted_dates
          .lines
            .num_1
            .num_2
            .num_3
          .text
            .highlight.num_1
              %p Deadline for applications
            .highlight.num_2
              %p Announcement of winners
            .highlight.num_3
              %p Pitch in Rwanda for seed investment

  #meet_rwanda.home_sec.container
    .full_width
      %h2 About Rwanda
      .inner_container
        .third
          .image= image_tag "img_1.jpg", class: 'auto_fit_image'
          .content
            .bold Refugee Situation
            At the beginning of 2018, Rwanda took in around 165,000 refugees, mainly from the DR Congo and Burundi. Almost all refugees speak the same as the locals - Kinyarwanda. Around 80% of refugees in Rwanda live in refugee camps. The country is also receiving Rwandan nationals who are returning home after years spent living abroad as refugees.

        .third
          .image= image_tag "img_2.jpg", class: 'auto_fit_image'
          .content
            .bold Refugee Policy
            Refugees in Rwanda enjoy freedom of movement and have the right to work and establish companies. The Government of Rwanda and UNHCR are in the process of implementing
            =link_to "a joint strategy for furthering economic development", "http://www.unhcr.org/rw/wp-content/uploads/sites/4/2017/02/Economic-Inclusion-of-Refugees-in-Rwanda-Final-Version.pdf", target: "_blank"
            in host communities through refugee self-reliance. The overall objective is ‘for the refugee camps to become places of vibrant social and economic activities with active markets, shops, restaurants and industries’.

        .third
          .image= image_tag "img_3.jpg", class: 'auto_fit_image'
          .content
            .bold Economic Situation 
            Despite the strong economic growth of recent years, unemployment and under-employment present one of Rwanda’s greatest challenges. The majority of the people in the densely populated country work in agriculture where incomes are low. At the same time, the number of young people entering the labor market is constantly growing. Therefore, employment promotion is high on the national development agenda.


  #meet_community.home_sec.container
    .full_width
      %h2 Meet members of the host and refugee community
      .inner_container
        .third
          .image= image_tag "img_4.jpg", class: 'auto_fit_image'
          .content Jacqueline was born in Kigeme and owns a successful tailoring business. First she rented a sewing machine, but once she had saved enough money, she bought her own. She would love to be part of a cooperative. As a group they could make bigger investments. Each member would have a focus -  hers could be women‘s fashion, someone else’s menswear or children’s clothes.
        .third
          .image= image_tag "img_5.jpg", class: 'auto_fit_image'
          .content Edson has been living in Kigeme refugee camp with his family for 6 years now. In the Democratic Republic of Kongo he used to own a shop that sold food. In Ruanda he invested all his money in building a small shop again – but ran out of money and cannot afford to buy the products to sell anymore. Instead, he borrowed a plot of land from his friend Claudine to do subsistence farming.
        .third
          .image= image_tag "img_6.jpg", class: 'auto_fit_image'
          .content Sipora has not received formal education and used to work as subsistence farmer in the Democratic Republic of the Congo.  She has six children, who all go to school. Right now,  she can’t afford to rent any land, because the school fees for her children come first. However, she has a tiny business selling local beer and charcoal. The profit is very, very small. 

  #possible_examples.home_sec.container
    .full_width
      %h2 Examples of solutions we are looking for
      .inner_container
        .half
          .image= image_tag "img_7.jpg", class: 'auto_fit_image'
          .content
            .bold SPARKbay Online Marketing Platform
            In Kenya, refugees and host communities have received the chance to distribute their products both regionally and globally via the so-called “SPARKbay Online Marketing Platform”. Initiated by UK’s Department of International Development (DFID), and the Norwegian Refugee Council (NRC), the platform expands the access to customer markets and establishes a more stable economic situation and social cohabitation for the community members. To strengthen their business and entrepreneurial skills, DFID further introduced a “digital micro learning and community platform” offering a variety of course modules for the refugees and host communities. The platform content is accessible via smartphones, tablets or in the established learning centers.

        .half
          .image= image_tag "img_8.jpg", class: 'auto_fit_image'
          .content
            .bold THE ENERGY KIOSK
            The pilot project “Sustainable Use of Natural Resources and Energy in the Refugee Context in Uganda” provide refugees and host communities with market-based access to sustainable energy. It is funded by DFID and implemented by GIZ, the World Agroforestry Centre (ICRAF) and Energising Development (EnDev) Uganda. As one part of the project, the energy kiosk - a shipping container with an attached brick storage room - will be solar powered and offers a range of various services and products. Among these are improved cook stoves, solar lanterns and home systems as well as energy services such as phone charging, printing, laminating, passport photos and internet access. While the kiosk in Rhino Camp Settlement will be run by a South Sudanese refugee youth group, the kiosk in Imvepi Settlement will be managed by a local NGO that employs host community members. Both kiosk manager groups will get technical trainings and additionally gain business skills such as bookkeeping, marketing and customer relation.


#who.home_section_cont
  .home_sec.container
    .full_width
      %h2 Who can participate?
    .half
      %p.bold.red Participants can be private individuals, NGOs, foundations, associations, private enterprises and their employees as well as GIZ employees. We are hoping to receive a wide range of possible solutions.
      %p.bold.red In order to participate you need to:

      %p.bold.low_margin Submit a tested and implemented solution.
      %p We don’t want to reinvent the wheel, but build on existing knowledge and experience. Any solution that creates business opportunities for refugees and host communities can be submitted, as long as it has been tested and implemented elsewhere, no matter where and when.

      %p.bold.low_margin A solution that can be adapted and handed over.
      %p The solution does not need to be rooted in Rwanda, but should have the potential to be adapted to the local context.

    .half
      %p.bold.low_margin A solution that is benefitting refugees and host community members through shared business opportunities.
      %p We are looking for solutions that can create economic opportunities for both, refugees and host communities. There are no limitations on the kind of solutions: Your submission might be a product as well as a service, it might be a success story from another country in the region or from an entirely different continent. The sky is the limit! (I would delete this: or an adaptation from another context where it has proven effective.

      %p.bold.low_margin Be able to spend a week in Rwanda.
      %p Together, we will spend one week in Rwanda, where you can share your experience with locals from host and refugee communities. We will follow a design-led approach to develop rapid prototypes and seek feedback from local users.


  #criteria.home_sec.container
    .full_width
      %h2 Selection Criteria
    .half
      %p.bold.red A jury – including members from leading organisations, local representatives and GIZ - will select the three best ideas. A good solution follows these principals:

      %p.bold.low_margin Fostering financial self-reliance 
      %p We are looking for solutions helping people to lead an independent life, and providing them with access to a regular income.

      %p.bold.low_margin Creating a benefit for refugee and host community
      %p We are looking for solutions that are not only focused on supporting refugees, but also provide a benefit to members of host communities and help strengthen the relationships between both groups.


    .half
      %p.bold.low_margin Enabling communities 
      %p The solutions must respond to people’s needs and should be implemented by refugees and host communities. We would love to see local people take ownership of the solutions instead of providing a service to them.

      %p.bold.low_margin Potential to scale 
      %p We picked Rwanda as a pilot country. Similar conditions in relation to refugees and host communities exist in other countries like Uganda, Tanzania or Iraq. We are looking for ideas that have the potential for scaling up, first in Rwanda, then beyond.


      %p.bold.low_margin Do no harm
      %p We are aware that any intervention could lead to results that are difficult to foresee. We are looking for solutions that are responsible and respectful towards locals and avoid negative impact.



  #next.home_sec.container
    .full_width
      %h2 What happens next?
    .half
      %p.bold.red Your solution will be a first inspiration to refugees and host communities in Rwanda. If the prototype is successful, GIZ will support to scale the solution globally.

      %p.bold.low_margin Who owns the solution? 
      %p The submitted solution is yours, but by submitting it you are allowing us to develop it further and replicate it elsewhere. By sharing your knowledge and experience with host and refugee communities, you will inspire them to adapt the solution to their local context.

      %p.bold.low_margin What happens to your solution after the call?
      %p The moment you participate in the Innovation Lab, you will become a solution-mentor and work with the local members of the refugees and host community in a team. After the Innovation Lab, your team has the chance to pitch your enhanced solution to a jury for further investment.



    .half
      %p Your team can receive financial support from GIZ and its partners for running a 6-month long market-test, that is going to be conducted by the local part of your team and our design experts. But you can still support your team remotely during that market-test.

      %p GIZ will support an upscaling of the tested projects globally afterwards.


      %p.bold.low_margin How do refugees and host community members benefit? 
      %p Your experience and the support of GIZ will provide refugees and host communities with an opportunity to become financially independent.
      %p Forming a team and working on new business opportunities together, will bring great benefit to all participants and ensures, that your solution creates a real impact.


#faq.home_section_cont
  .home_sec.container
    .full_width
      %h2 Everything you need to know before submitting
      .accordion
        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              What kind of solutions is GIZ looking for?
          .accord-cont
            %p We are looking for solutions that can create economic opportunities for both refugees and host communities. There are no limitations on the kind of solutions: Your submission might be a product as well as a service, it might be a success story from another country or an adaptation from another context where it has proven effective. The solution does not need to be rooted in Rwanda, but needs to have potential to be adapted to fit the local context and in similar situations worldwide. We would like to adapt and develop solutions that are scalable – first in Rwanda then beyond.

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              What will the Innovation Lab look like?
          .accord-cont
            %p
              The
              %span.bold 1-week on-site innovation lab
              in Rwanda will take place from January 14th – 18th, 2019. The objective of the innovation lab is to push your solution and adapt it locally. In a one-week workshop, you will develop several ideas to enhance your solution together with local design experts and members of the refugee and host communities. Learn how to create innovative projects in intercultural teams and get access to an international network of experts in the field of development and innovation. On top, GIZ will cover your travel costs.
            %p
              %span.bold After the lab,
              members of the host and refugee community will develop the solution further and create a first business model, ready for piloting and a reality check on the local market. The submitter of the initial solution will not be formally involved anymore. But you are welcome to stay in touch with the team if you wish to do so.

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              How many solutions am I allowed to submit?
          .accord-cont
            %p You are allowed to submit as many solutions as you like. Please take care, that you always create a new account and use a different email-address.

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              Who are GIZ partners for this project?
          .accord-cont
            %p GIZ is working together with different international and local innovation actors in order to develop the call for solutions and to carry out the innovation lab. The local agencies are also responsible for supporting your local team-members in case the local team receives a seed investment for a 6 month-market test.
            %p GIZ is also working with an international network of partners in order to create global awareness for the project and to find different supporters for the facilitation of the project.
            %p Our partner for the development of the website and the innovation lab in Rwanda is FutureGOV.
            %p
              You find a list of partners on the bottom of our website. You will also find more information in the FAQ section about the Jury. If you have further questions about partners or you would like to support the project, please contact us at
              =mail_to "solutionsforimpact@giz.de"

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              Where do I find more information about GIZ & GIZ Rwanda?
          .accord-cont
            %p
              If you want to take a deep dive into the work of GIZ, please follow this link:
              =link_to "www.giz.de", "www.giz.de", target: '_blank'
            %p
              If you are interested in the work of GIZ in Rwanda specifically, please follow this link:
              =link_to "https://www.giz.de/en/worldwide/332.html", "https://www.giz.de/en/worldwide/332.html", target: '_blank'
            %p
              If you are interested to find out more about services of GIZ in the field of refugee and host community support, please follow this link:
              =link_to "https://www.giz.de/en/workingwithgiz/56527.html", "https://www.giz.de/en/workingwithgiz/56527.html", target: '_blank'


        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              Where do I find more information about the refugee and host community situation in Rwanda?
          .accord-cont
            %p
              If you need a general statistical overview about refugees in Rwanda, you can download this pdf:
              =link_to "https://data2.unhcr.org/en/documents/download/61892", "https://data2.unhcr.org/en/documents/download/61892", target: '_blank'
            %p
              If you would like to find out more about the economic inclusion of refugees in Rwanda, you can follow this link:
              =link_to "http://www.unhcr.org/rw/livelihoods-2", "http://www.unhcr.org/rw/livelihoods-2", target: '_blank'
            %p
              If you want to find out more about the joint strategy of MIDIMAR & UNHCR for economic inclusion in Rwanda, you can follow this link:
              =link_to "http://www.unhcr.org/rw/10543-joint-strategy-by-midimar-unhcr.html", "http://www.unhcr.org/rw/10543-joint-strategy-by-midimar-unhcr.html", target: '_blank'
            %p
              If you want to read more about the rights of refugees to work in Rwanda, you can follow this link:
              =link_to "http://www.unhcr.org/rw/12164-right-work-refugees-rwanda.html", "http://www.unhcr.org/rw/12164-right-work-refugees-rwanda.html", target: '_blank'
            %p
              If you are interested in an overview of the economic contribution of refugees to the economy of Rwanda, you can follow this link:
              =link_to "http://www.unhcr.org/rw/wp-content/uploads/sites/4/2017/02/1-pager-Contribution-of-Refugees-on-the-Economy-of-Rwanda.pdf", "http://www.unhcr.org/rw/wp-content/uploads/sites/4/2017/02/1-pager-Contribution-of-Refugees-on-the-Economy-of-Rwanda.pdf", target: '_blank'


        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              Who selects the solutions and how are they being selected?
          .accord-cont
            %p The jury consists of partners of GIZ, that are closely connected to the topic of the call. The jury will screen all submissions and choose a set of solutions based on the criteria listed on the call website.

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              How do you notify winners?
          .accord-cont
            %p Winners will be notified by email until November 15th, 2018 and announced on the website shortly after. GIZ will also announce the winners throughout their communication channels.

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              What happens if my solution gets selected?
          .accord-cont
            %p The three best solutions win €1,500 each and the winners participate in a 1-week innovation lab in Rwanda (January 14th – 18th, 2019), where they will be involved in the adaptation of the solutions to the local context.
            %p The ability to participate in the innovation lab during January 14th – 18th, 2019 is the prerequisite to submit a solution to the call. Since the success of the innovation lab is dependent on the pool of experience of its participants, it is crucial, that the solution submitter is or was directly participating in the implementation of this solution in another context. Should this person not be able to attend the innovation lab, he could be replaced by another person, who was or is also participating in the implementation of the solution.
            %p GIZ will cover related costs during the lab in Rwanda (economy flights, room and board and transportation) and will do all necessary bookings. We ask you to take care of your visa application, any medical journey preparation and a travel insurance if necessary. We are happy to assist if you have any questions on these topics.
            %p Please note, that GIZ will not pay any salary compensation.
            %p For your preparations, we will send you more information about Rwanda shortly before the trip.
            %p
              For questions concerning property rights regarding the submission of your solution, please read the
              =link_to "terms and conditions.", asset_path("giz_terms_conditions.pdf"), target: '_blank'

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              What is GIZ doing with my solution in case I am not selected?
          .accord-cont
            %p The website with all solutions will stay published until the end of the project. Afterwards all information and saved data will be deleted.

        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              If I have a technical problem submitting my solution, whom do I contact?
          .accord-cont
            %p
              If you have technical problems submitting your solution, please contact:
              =mail_to "stuartharrison@wearefuturegov.com"


        .accord-single
          .accord-toggle
            .bold.red
              =fa_icon "plus-circle"
              If you have more questions
          .accord-cont
            .inner_container
              .half
                %p
                  For further questions please contact our community manager:
                  =mail_to "solutionsforimpact@giz.de"

%br

.container
  =render partial: "cta_buttons"


%br
%br
%br
