#home_intro.container
  .full_width
    %h2 What’s your solution? Make it matter even more
    %p.bold Do you successfully work with refugees, but you lack the resources to scale your approach globally?
    %p.bold Do you have a solution in the private sector that could work for refugees, but you don’t know how?
    %p GIZ gives you the opportunity to work with our network of development experts, designers, and entrepreneurs to scale your solution and make it matter to people that need it most. Win a trip to Rwandaa and prototype your solution in a GIZ Innovation Lab.
    .accordion
      .accord-single
        .accord-toggle
          .bold.red
            =fa_icon "plus-circle"
            Why you should participate…
        .accord-cont
          %p.bold.low_margin Receive funding to improve and scale your solution 
          %p The selected solutions receive up to 10,000 Euros to be developed further, adapted to the local context and implemented in Rwanda. 
          %p.bold.low_margin Access the expertise of the GIZ network 
          %p You can benefit from the expertise and support of GIZ, Germany’s development agency and its network of experts from leading global and local organisations. 
          %p.bold.low_margin Go on a learning journey to Rwanda 
          %p Throughout the project you will collaborate closely with a team of expert designers and development experts to push your ideas and adapt them locally. In a one week design workshop in Rwanda you will prototype your idea working with local experts and members of the refugee and host communities. All travel cost will be covered! 
          %p.bold.low_margin Gain some fame 
          %p You have the chance to see your solution promoted through media, partners and GIZ channels.


.hero
  =image_tag("hero1.jpg")
  .hero_overlay
    .container
      .full_width
        %h2 Open call for solutions
        %h1 How can we strengthen business exchange between refugees and host communities?

#home_brief.container
  .half
    .red_block
      .brief Your Brief
      %hr
      .tagline How can we increase financial independence of refugees through shared business opportunities with their host communities?
    =render partial: "cta_buttons"
  .half
    .red_title The challenge
    %p Refugees often live in displacement for decades, many will never return to their homes. Therefore is is critical to enable them to become financially independent and build a life on their own – in a way that benefits both the refugees and the communities they now live in.

    .red_title The opportunity

    %p There is a huge untapped potential to create shared business opportunities for refugees and host communities.
    %p Think of co-working spaces, shared workshops and joint creation of new services – doing business with each other provides an opportunity to meet, reduce prejudices and improve one’s livelihood.
    %p In Kampala for example, 21% of refugees own a business that employs other people—and 40% of those employees are Ugandan nationals.
    %p So how can we create more shared business opportunities between both communities?

.container
  .full_width
    %hr

#meet_community.container
  .full_width
    %h2 Meet members of the host and refugee community
    .inner_container
      .third
        .image= image_tag "person_1.jpg", class: 'auto_fit_image'
        .content This is Robert and was born in Uganda. He is a trained midwife, but as male it’s difficult to find employment. Instead he now has his own business: he delivers medicine to remote areas. Right now there is not enough work, but if there was, he could imagine hiring member of the refugee community.
      .third
        .image= image_tag "person_2.jpg", class: 'auto_fit_image'
        .content Wuoi lost his cows and income when he escaped South Sudan with his family . They have now lived in Uganda for almost four years. At the beginning, they received food from WFP. Now, he collects once a month $US 47 to feed his family of ten. “When I walk away with the money, I feel free. I like the choice I have now to buy the food we want to eat.”
      .third
        .image= image_tag "person_3.jpg", class: 'auto_fit_image'
        .content Fatuma lives peacefully with her neighbours. However, rare, occasional incidents of hostility from neighbours leave her feeling fearful, vulnerable and unable to protect her family. There is sometimes resentment by nationals who feel that refugees receive preferential treatment.

#meet_rwanda.container
  .full_width
    %h2 Some context about Rwanda
    .inner_container
      .third
        .image= image_tag "person_4.jpg", class: 'auto_fit_image'
        .content
          .bold Business
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
      .third
        .image= image_tag "person_5.jpg", class: 'auto_fit_image'
        .content
          .bold Education
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.
      .third
        .image= image_tag "person_6.jpg", class: 'auto_fit_image'
        .content
          .bold Infrastructure
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in.

.container
  =render partial: "cta_buttons"
