= form.error_notification

-if solution.hero_image?
  %p Current banner image:
  =image_tag solution.hero_image, class: 'small_img'
  %br
  %br
  = form.input :hero_image, as: :file, label: 'Replace your banner image', hint: 'Choose a photo for your solution. Good photos will be at least 1024 pixels wide and 450 pixels tall, but no larger than 4MB.'
-else
  = form.input :hero_image, as: :file, label: 'Upload a banner image to describe your solution', hint: "Choose a photo for your solution to catch people's eyes. Good photos will be at least 1024 pixels wide and 450 pixels tall, but no larger than 5MB."

=form.input :description, as: :text, label: 'Describe your solution:', input_html: { maxlength: 500 }

=form.input :business_opportunities, as: :text, label: 'How does your solution strengthen business exchange between refugees and host communities?', input_html: { maxlength: 500 }

=form.input :implementation_impact, as: :text, label: "How has it been implemented? What's the impact of your solution?", input_html: { maxlength: 500 }

=form.input :skills_experience, as: :text, label: 'Tell us about your skills and experience useful for local communities on site:', input_html: { maxlength: 500 }

=form.input :title, as: :string, label: 'Choose a headline to summarise your solution:', input_html: { maxlength: 60 }

=form.input :website, as: :string, label: '(Optional) If there is a website with more details add here:'

.video_input
  %label Share a video too if you have one.
  .normal
    %p From your video on YouTube you need to:
    %ol.default
      %li Select the share button,
      %li Choose the Embed option,
      %li Copy the embed code that is in the text box and paste below.
    %p You can also embed Vimeo, Blip.tv, Viddler and Kickstarter videos in the same way

  =form.input :embedded_video_url, as: :text, label: false

-if form.object.new_record?
  = form.input :terms_accepted, as: :boolean, required: true, label: "I accept GIZ's #{link_to('licensing & copyright terms', asset_path('giz_licensing_and_copyright.pdf'), target: '_blank')}.".html_safe
  = form.input :terms_accepted, as: :boolean, required: true, label: "I accept GIZ's #{link_to('Terms & Conditions', asset_path('giz_terms_conditions.pdf'), target: '_blank')} and #{link_to('Data protection policy', asset_path('giz_data_processing.pdf'), target: '_blank')}".html_safe

.form-actions.full_width_cta
  = form.submit t('buttons.save')
