.container
  .full_width
    .thinner
      - if ApplicationState.instance.announce_winners?
        %h3=t('solution.winners.title')
        = render partial: 'solutions/solution', collection: winning_solutions

      - if solutions.any?
        %h3= solutions_title
        #all_solutions.inner_container
          = render partial: 'solution', collection: solutions
      -else
        %h3=t('solution.all.none')
        .large_cta.full_width.center
          = link_to t('buttons.submit_solution'), current_user ? :new_solution : :new_user_registration, id: 'submit_nav'

          =link_to t('buttons.go_home'), :root, class: 'button secondary'

      - if deleted_solutions.present?
        %h3=t('solution.deleted.title')
        = render partial: 'deleted_solution', collection: deleted_solutions
