.actions
  - if admin_logged_in
    = render partial: 'admin_buttons'
  -elsif solution == current_user&.solution
    = link_to 'edit', edit_solution_path(solution), class: 'button'


%h2=solution.title
%p="by #{solution.user.name} from #{solution.user.organisation}"

.solution_image.big
  = image_tag solution.hero_image.url

%h2 Our solution
%p=solution.description

%h2 How it strengthens relationships through business opportunities
%p=solution.business_opportunities

%h2 How has it been implemented and what
impact it had
%p=solution.implementation_impact

%h2 Our Skills and Experience
%p=solution.skills_experience


%p=solution.website

- if solution.embedded_video_url
  .video
    =solution.embedded_video_url.html_safe
