#solution_show.container
  .full_width
    .thinner
      .solution_actions
        - if can_edit_solution
          = link_to 'edit', edit_solution_path(solution), class: 'button'
        - if admin_logged_in
          = render partial: 'admin_buttons'
      .solution_image
        = image_tag solution.hero_image.url, class: 'auto_fit_image'

      %h1=solution.title
      %p="by #{solution.user.name}"
      -if solution.user.organisation
        ="from #{solution.user.organisation}"

      =link_to solution.website, solution.website, :target => "_blank"

      %hr

      %h2 Our solution
      %p=solution.description

      %hr

      %h2 What's the business opportunity for host and refugee community
      %p=solution.business_opportunities

      %hr

      %h2 How has it been implemented and what impact it had
      %p=solution.implementation_impact

      %hr

      %h2 Our Skills and Experience
      %p=solution.skills_experience


      - if solution.embedded_video_url
        .video_embed
          =solution.embedded_video_url.html_safe
      .nxt_btns
        .half
          -if solution_navigator.previous_solution_id
            =link_to solution_path(id: solution_navigator.previous_solution_id) do
              =fa_icon "caret-left"
              Previous solution
        .half.right
          -if solution_navigator.next_solution_id
            =link_to solution_path(id: solution_navigator.next_solution_id) do
              Next solution
              =fa_icon "caret-right"
