%meta{charset: "utf-8"}
%meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}

%meta{content: "yes", name: "apple-mobile-web-app-capable"}
%meta{content: "#000000", name: "theme-color"}


%meta{content: page_og_url, property: "og:url"}
%meta{content: "website", property: "og:type"}
%meta{content: 'GIZ Call for Solutions', property: "og:title"}
%meta{content: "What's your solution? Contribute your solutions to improve the lives of refugees." , property: "og:description"}
%meta{content: "#{root_url}share_image.jpg", property: "og:image"}

%title GIZ Call for Solutions

= favicon_link_tag 'favicon.ico'

= stylesheet_link_tag    "application"
= javascript_include_tag "application"
= csrf_meta_tags
