/ Load Facebook SDK for JavaScript
#fb-root
- if GizSolutions.config.facebook_id.present?
  :javascript
    _FACEBOOK_ID = "#{GizSolutions.config.facebook_id}";
  = javascript_include_tag "facebook"
  .a2a_kit.a2a_kit_size_32.a2a_floating_style.a2a_vertical_style{:style => "right:0px; top:50px;"}
    %a.a2a_button_facebook
    %a.a2a_button_twitter
    %a.a2a_button_google_plus
    %a.a2a_dd{:href => "https://www.addtoany.com/share"}
  %script{:async => "", :src => "https://static.addtoany.com/menu/page.js"}

.container
  .half
    %h2=link_to t('strapline'), :root
  .half.align_right
    =link_to 'https://www.giz.de', target: '_blank' do
      =image_tag('giz-logo.gif')
%nav
  .container
    .full_width
      = link_to t('buttons.overview'), :root, id: 'overview_nav'
      - if ApplicationState.instance.collection?
        = link_to t('buttons.submit_solution'), current_user ? :new_solution : :new_user_registration, id: 'submit_nav'
      = link_to t('buttons.browse_solution'), :solutions, id: 'browse_nav'
      - if current_user
        =link_to t('buttons.admin'), :edit_application_state if admin_logged_in
        = button_to t('buttons.log_out'), :destroy_user_session, method: :delete, class: 'unstyle_button'
      -else
        = link_to t('buttons.log_in'), :new_user_session, id: 'log_in_nav'
