.logo_bg

.container
  .logo
    =link_to 'https://www.giz.de', target: '_blank' do
      =image_tag('giz-logo.gif')
  .grey_section
    %h2=link_to t('strapline'), :root
    %nav
      = link_to t('buttons.overview'), :root, id: 'overview_nav'
      - if ApplicationState.instance.collection?
        = link_to t('buttons.submit_solution'), current_user ? :new_solution : :new_user_registration, id: 'submit_nav'
      = link_to t('buttons.browse_solution'), :solutions, id: 'browse_nav'
      - if current_user
        =link_to t('buttons.admin'), :edit_admin_application_state if admin_logged_in
        = button_to t('buttons.log_out'), :destroy_user_session, method: :delete, class: 'unstyle_button'
      -else
        = link_to t('buttons.log_in'), :new_user_session, id: 'log_in_nav'
